<div class="row">
  <div class="col">
    <h3>Contador</h3>
    <h4>{{ contador }}</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <button (click)="multiplicar()" type="button" name="multiplicar" id="multiplicar" class="btn btn-primary btn-sm mr-2">multiplicar</button>
    <button (click)="dividir()" type="button" name="dividir" id="dividir" class="btn btn-info btn-sm">dividir</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <app-nieto [contador]="contador" (cambioContador)="resetNieto($event)"></app-nieto>
  </div>
</div>
